h2+p {
    background-color: white;
}

h2~p {
    background-color: lightblue;
}

div>p {
    font-size: 50px;
}

.estilo1 {
    color: red;
    background-color: yellow;
    box-shadow: -3px -4px 5px 5px black;
}

.estilo2 {
    text-shadow: 5px 3px 2px black;
}

body {
    background: #e7df9d url("../resources/imagenes/descarga.jpeg") repeat-x fixed 0% 0%;
}

.oso-box {
    box-shadow: 3px -4px 10px 5px black;
}

.oso-filter {
    filter: drop-shadow(3px 4px 5px black);
}

#btndelete {
    background-color: rgba(5, 59, 139, 0.315);
    color: rgb(132, 191, 253);
    font-size: 21px;
    line-height: 10px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;

    background-image: linear-gradient(to right, #e40808 0%, #d0df07 50%, #0cd12d 100%);
}

#btnadd {
    background-color: rgba(5, 59, 139, 0.315);
    color: rgb(132, 191, 253);
    font-size: 21px;
    line-height: 10px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px;
    border-radius: 60px;
    text-shadow: 3px 2px 5px black;

}